*{
    margin: 0;
    padding: 0;
}

ul{
    list-style: nome;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 60px;
    background-color: black;
    border-bottom: 2px solid orange;
}
li{
    margin-left: 10px;

}


a{
text-decoration: none;
color: rgb(120, 246, 2);
}

a:hover{
       border-bottom: 2px solid blue;
       front-size: 20px;
}

body{
    width: 100%;
    height: 100%;
    background-color: greenyellow(12, 138, 138);
    display: flex;
    justify-content: center;
}